<!DOCTYPE html>
<html>
<head>
<title>Todo Form</title>
</head>
<body>

<h1>To do page</h1>
<form action="/submittodoitem" method="POST">


<label>Item UUID</label>
<input type="text" name="itemUUID">

<label>Item Hash</label>
<input type="text" name="itemHash">


<label>Item ID</label>
<input type="text" name="itemId">


<label>Item Name</label>
<input type="text" name="itemName"><br><br>


<label>Item Description</label>
<input type="text" name="itemDescription"><br><br>


<button type="submit">Submit</button>

</form>

</body>
</html>

